.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 168px;
  margin-right: 20px;
}

.hand {
  overflow: auto;
}

body {
  background-image: url("Blackjack.gif");
  background-size: auto;
  font-family: 'Gochi Hand', cursive;
  font-size: 35px;
}

.score {
  color: white;
}

h2 {
  color: white;
}

.player-hand-container {
  margin-left: 45%;
}

.dealer-hand-container {
  margin-left: 45%;
}

.hit-button {
  margin-left: 45%;
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  height: auto;
  width: auto;
  border-radius: 100px;
}

.stand-button {
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  height: auto;
  width: auto;
  border-radius: 100px;
}

.covered {
  background-image: url("card-back.png");
}

.covered img {
  visibility: hidden;
}